html,
body {
  height: 100%;
  overflow: hidden;
}

.graph-container {
  background-color: #fff;
}

#infoBoxHolder {
  z-index: 300;
  position: absolute;
  left: 5px;
}

#infoBox {
  border: 1px solid #999;
  padding: 8px;
  background-color: whitesmoke;
  opacity: 0.9;
  position: relative;
  min-width: 250px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 11px;
}

/* this is known as the "clearfix" hack to allow
floated objects to add to the height of a div */
#infoBox:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.infoTitle {
  width: auto;
  font-weight: normal;
  color: #787878;
  /* float: left; */
  margin-left: 4px;
}

div.infoValues {
  width: 30px;
  text-align: right;
  float: right;
}