html,
body {
  height: 100%;
  overflow: hidden;
}

.graph-container {
  background-color: #fff;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .navbar {
    float: left !important;
  }

  .graph-container {
    float: right !important;
  }

  .navbar {
    height: 100%;
  }
}
